:root {
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --description-subtitle-color: #757575;
  --logo-color: #000000;
  --backgound-color: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.adress {
  font-style: normal;
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}
/*==Header===*/
.header {
  width: 1600px;
  height: 80px;
  padding: 25px 0;
}
.header .container {
  display: flex;
}
.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.logo-item {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}
.navigation-list-link:active {
  color: var(--accent-color);
}
.header .adress {
  margin-left: auto;
}
.header-tel-link {
  margin-left: 50px;
}
.header-mail-link,
.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--description-subtitle-color);
}
.header-mail-link:hover,
.header-mail-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
  color: var(--accent-color);
}
.header-mail-link:active,
.header-tel-link:active {
  color: var(--accent-color);
}
/*== End Header===*/
/*== HERO===*/
.hero {
  width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;
  margin-bottom: 94px;
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  width: 700px;
  height: 120px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--backgound-color);
}
.modal-btn {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--backgound-color);
}

.hero-section-title {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/*== End HERO===*/

/*== Advantages===*/
.advantages-section {
  width: 1600px;
  margin-bottom: 94px;
}
.advantages-section .container {
  display: flex;
}
.advantages-list {
  display: flex;
}
.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}
.advantages-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.advantages-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--description-subtitle-color);
}
/*== End Advantages===*/

/*== What are we doing===*/
.doing-section {
  width: 1600px;
  margin-bottom: 94px;
}
.doing-section .container {
  display: flex;
}
.doing-list {
  display: flex;
}
.doing-list-item:not(:last-child) {
  margin-right: 30px;
}
/*== End What are we doing===*/
/*== Our team ===*/
.team-section {
  width: 1600px;
  margin-bottom: 94px;
}
.team-section .container {
  display: flex;
}
.team-list {
  display: flex;
}
.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-list-content {
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 59px;
  padding-bottom: 30px;
}
.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-title-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--description-subtitle-color);
}
/*== End Our team ===*/
/*== Portfolio ===*/
.portfolio-title-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-hero .container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}
.portfolio-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  min-width: 73px;
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--backgound-color);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--backgound-color);
  background-color: #2196f3;
}
.portfolio-hero-section-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-hero-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-hero-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-hero-list-content {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.portfolio-hero-list-item {
  width: 370px;
  height: 404px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.portfolio-hero-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-hero-list-item:not(:nth-child(n + 7)) {
  margin-bottom: 30px;
}

.portfolio-hero-section-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--description-subtitle-color);
}
/*== End Portfolio ===*/

/*== Footer===*/
.footer {
  width: 1600px;
  height: 252px;
  background-color: #2f303a;
}
.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
}
.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer-adress-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  list-style: none;
  color: var(--backgound-color);
}
.footer-mail-link,
.footer-tel-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*== End Footer===*/
